# Importando bibliotecas

In [2]:
import pandas as pd
import sklearn.linear_model as lm

# Importando dataset e verificando a existência de dados nulos

In [3]:
df = pd.read_csv('../datasets/Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.3 KB

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

# Separando dados para teste

In [7]:
X = df.drop(columns=['Chance of Admit ', 'Serial No.'])
y = df['Chance of Admit ']

# Ajuste fino dos parâmetros com Randomized Search

In [8]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [9]:
valores = {'alpha': [0.1, 0.5, 1, 5, 10, 20, 40, 80, 100], 'l1_ratio':[0.02, 0.05, 0.1, 0.2, 0.3, 0.5, 0.8, 0.9]}

In [13]:
modelo = lm.ElasticNet()
procura = RandomizedSearchCV(param_distributions=valores ,estimator=modelo ,random_state=13 ,n_iter=150 ,cv=5)
procura2 = GridSearchCV(param_grid=valores ,estimator=modelo,cv=5)
procura.fit(X, y)

print('Melhor score: ', procura.best_score_)
print('Melhor alpha: ', procura.best_estimator_.alpha)
print('Melhor l1_ratio: ', procura.best_estimator_.l1_ratio)

C:\Users\fabio\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 72 is smaller than n_iter=150. Running 72 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Melhor score:  0.9370613211468104
Melhor alpha:  0.1
Melhor l1_ratio:  0.02

# Testando e comparando acuracia dos modelos de regressão com a validação cruzada da divisão Kfold

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
modelo = lm.LinearRegression()
kfold = KFold(n_splits=5)
cross_val_score(modelo, X, y, cv=kfold).mean()

0.9713974265133294

In [ ]:
modelo = lm.Ridge(alpha=1)
kfold = KFold(n_splits=5)
cross_val_score(modelo, X, y, cv=kfold).mean()

0.9712487241923078

In [ ]:
modelo = lm.Lasso(alpha=1, max_iter=50000)
kfold = KFold(n_splits=5)
cross_val_score(modelo, X, y, cv=kfold).mean()

0.5222060532931063

In [ ]:
modelo = lm.ElasticNet(alpha=1, l1_ratio=0.1)
kfold = KFold(n_splits=5)
cross_val_score(modelo, X, y, cv=kfold).mean()

0.7468162816880128